.footer {
  background-color: $color-primary;
  padding: 9.6rem 0;
  margin-top: 25.8rem;
  color: $color-grey-light-6;

  &__logo-col {
    display: flex;
    flex-direction: column;
  }

  &__logo-link {
    display: block;
    margin-bottom: 3.2rem;
  }

  &__logo-img {
    height: 5rem;
  }

  &__social-list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-grey-light-6;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: #fff;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  &__copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: auto;
  }

  &__logo-col,
  &__address-col {
    @media only screen and (max-width: $bp-tab) {
      grid-column: span 2;
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.7rem;
    margin-top: 2.2rem;

    &:not(:last-child) {
      @media only screen and (max-width: $bp-phone-sm) {
        line-height: 1.4;
      }
    }
  }

  &__address {
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.6;

    & > p:first-child {
      margin-bottom: 2.4rem;
    }
  }

  &__nav-col {
    @media only screen and (max-width: $bp-tab) {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}
